.gameOverScreen button {
  outline: none;
  border: 0;
  padding: 0.8rem;
  margin-top: 2rem;
  cursor: pointer;
  border-radius: 1rem;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.5);
  font-size: 1.1rem;
  text-transform: uppercase;
  border: 1px solid #dfdfdf;
  transition: 0.6s;
  font-weight: bolder;
  background-color: rgba(0, 0, 0, 0);
  color: #dfdfdf;
  width: 11rem;
}
